In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('../datasets/train-task2-TC.labels', delimiter='\t', header=None)
cols = ['article_id', 'category', 'span_start', 'span_stop']
df.columns = cols

In [8]:
df.head()

   article_id                  category  span_start  span_stop
0   111111111       Appeal_to_Authority         265        323
1   111111111       Appeal_to_Authority        1795       1935
2   111111111                     Doubt         149        157
3   111111111                Repetition        1069       1091
4   111111111  Appeal_to_fear-prejudice        1334       1462